# NFC ST21NFC
# import /vendor/etc/init/hw/init.vendor.st21nfc.rc
on early-init
   setprop ro.vendor.device_edition ${ro.boot.edition}
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules qpnp-smbcharger-mmi qpnp_adaptive_charge nova_0flash_mmi

on mmi-priority
   # Only high priority MMI DLKMs loaded here
   # For instance, sensor_class referenced from several DLKMs
   # and needs to load first. Touchscreen might need extra time
   # to perform firmware update if necessary
   setprop vendor.mmi_init.stage priority
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules sensors_class.ko

on fs
   # Majority of MMI DLKMs should be in this group
   setprop vendor.mmi_init.stage common
   insmod /vendor/lib/modules/wl2864c.ko
   insmod /vendor/lib/modules/mmi_info.ko
   insmod /vendor/lib/modules/mmi_annotate.ko
   insmod /vendor/lib/modules/mmi_sys_temp.ko
   insmod /vendor/lib/modules/qpnp-power-on-mmi.ko
   insmod /vendor/lib/modules/mmi_annotate.ko
   insmod /vendor/lib/modules/mmi_info.ko
   insmod /vendor/lib/modules/tzlog_dump.ko
   insmod /vendor/lib/modules/watchdog_cpu_ctx.ko
   insmod /vendor/lib/modules/sx933x_sar.ko
   insmod /vendor/lib/modules/stmvl53l1.ko
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules aw882xx_k419.ko aw8695.ko

on post-fs-data
   setprop vendor.mmi_init.stage complete

service vendor.vl53l1_daemon /vendor/bin/vl53l1_daemon
    class late_start
    user root
    group root
    socket vl53l1_daemon stream 660 root system

service vendor.mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot


on init
    write /sys/block/zram0/comp_algorithm lz4

on early-boot
   # gestures
   chown system system /sys/class/touchscreen/NVT-ts/double_click

on boot
   # Add for goodix fingerprint
   chown system system /dev/goodix_fp
   chmod 0664 /dev/goodix_fp
   mkdir /data/vendor/gf_data 0770 system system
   mkdir /mnt/vendor/persist/goodix 0770 system system
   # Add for CQA fps calibration test
   chown system system /sys/class/backlight/panel0-backlight/brightness
   chown system system /d/dri/0/debug/motUtil
   chmod 0666 /d/dri/0/debug/motUtil;
   chmod 0666 /sys/class/backlight/panel0-backlight/brightness
   # Set wls perms for HAL
   chown system system /sys/class/power_supply/wireless/device/tx_mode
   #Add for laser
   chown system system sys/class/laser/stmvl53l1/enable_sar
   chmod 0660 sys/class/laser/stmvl53l1/enable_sar
   chown system system sys/class/laser/stmvl53l1/set_delay_ms
   chmod 0660 sys/class/laser/stmvl53l1/set_delay_ms
   chown system system sys/class/laser/stmvl53l1/autonomous_config
   chmod 0660 sys/class/laser/stmvl53l1/autonomous_config
   chown system system sys/class/laser/stmvl53l1/enable_ps_sensor
   chmod 0660 sys/class/laser/stmvl53l1/enable_ps_sensor
   chown system system sys/class/laser/stmvl53l1/do_flush
   chmod 0660 sys/class/laser/stmvl53l1/do_flush
   chown system /sys/devices/virtual/laser/stmvl53l1/enable_sar
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/enable_sar
   chown system /sys/devices/virtual/laser/stmvl53l1/set_delay_ms
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/set_delay_ms
   chown system /sys/devices/virtual/laser/stmvl53l1/do_flush
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/do_flush
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/autonomous_config
   chown system /sys/devices/virtual/laser/stmvl53l1/autonomous_config
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/enable_ps_sensor
   chown system /sys/devices/virtual/laser/stmvl53l1/enable_ps_sensor
   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/timing_budget
   chown system /sys/devices/virtual/laser/stmvl53l1/timing_budget
   chown system system /sys/devices/virtual/input/input1/timing_budget
   chmod 0660 /sys/devices/virtual/input/input1/timing_budget
   chmod 0664 /mnt/vendor/persist/camera/focus/offset_cal
   chmod 0664 /mnt/vendor/persist/camera/focus/cal_data
   # Touch grip suppression control
   chown system system /sys/class/touchscreen/primary/suppression
   chmod 0660 /sys/class/touchscreen/primary/suppression
   chown system system /sys/class/touchscreen/primary/pill_region
   chmod 0660 /sys/class/touchscreen/primary/pill_region
   chown system system /sys/class/touchscreen/primary/hold_distance
   chmod 0660 /sys/class/touchscreen/primary/hold_distance
   chown system system /sys/class/touchscreen/primary/gs_distance
   chmod 0660 /sys/class/touchscreen/primary/gs_distance
   chown system system /sys/class/touchscreen/primary/rotate
   chmod 0660 /sys/class/touchscreen/primary/rotate
   # Change ownership for capsensor
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch0/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch0/poll_delay
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch1/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch1/poll_delay
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch2/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch2/poll_delay
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch3/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch3/poll_delay
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch4/enable
   chown root input /sys/class/sensors/Moto\ CapSense\ Ch4/poll_delay
   chown system system /sys/class/capsense/reset
   chown system system /sys/class/capsense/int_state
   # Set adaptive charging perms for HAL
   chown system system /sys/module/qpnp_adaptive_charge/parameters/upper_limit
   chown system system /sys/module/qpnp_adaptive_charge/parameters/lower_limit
   write /proc/sys/kernel/hung_task_timeout_secs 120

#fps dual sensor
service vendor.ident-fps-overlay-sh /vendor/bin/init.oem.fingerprint.overlay.sh
    class core
    user root
    group drmrpc system
    oneshot
    disabled

on post-fs-data
    exec_start vendor.ident-fps-overlay-sh
