# Charge only mode configuration
import /vendor/etc/init/hw/init.mmi.charge_only.rc

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules exfat

on property:ro.build.type=userdebug
    setprop persist.vendor.qg.log_level 1
